// Based on Basscss Input Range
// https://github.com/basscss/addons/tree/master/modules/input-range
// MIT License https://github.com/basscss/addons/blob/master/LICENSE.md

.input-range {
  vertical-align: middle;
  background-color: transparent;
  padding-top: var(--form-field-padding-y);
  padding-bottom: var(--form-field-padding-y);
  color: inherit;
  -webkit-appearance: none;
}

.input-range::-webkit-slider-thumb {
  position: relative;
  width: var(--range-thumb-width);
  height: var(--range-thumb-height);
  cursor: pointer;
  margin-top: var(--range-thumb-offset);
  border-radius: 50%;
  background-color: currentcolor;
  -webkit-appearance: none;
}

// Touch screen friendly pseudo element
.input-range::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(
    -0.5 * var(--range-thumb-pseudo-size) + (0.5 * var(--range-thumb-height))
  );
  left: calc(
    (-0.5 * var(--range-thumb-pseudo-size)) + (0.5 * var(--range-thumb-width))
  );
  width: var(--range-thumb-pseudo-size);
  height: var(--range-thumb-pseudo-size);
  opacity: 0;
}

.input-range::-moz-range-thumb {
  width: var(--range-thumb-width);
  height: var(--range-thumb-height);
  cursor: pointer;
  border-radius: 50%;
  border-color: transparent;
  border-width: 0;
  background-color: currentcolor;
}

.input-range::-webkit-slider-runnable-track {
  height: var(--range-track-height);
  cursor: pointer;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.input-range::-moz-range-track {
  height: var(--range-track-height);
  cursor: pointer;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.input-range:focus {
  outline: none;
}

:root {
  --form-field-padding-x: map-get($dimension-utility-sizes, 4);
  --form-field-padding-y: map-get($dimension-utility-sizes, 4);
  --form-field-height: 2.25rem;

  --range-thumb-width: 2rem;
  --range-thumb-height: 2rem;
  --range-track-height: 1px;
  --range-thumb-offset: calc(
    var(--range-thumb-height) / -2 + (var(--range-track-height) / 2)
  );
  --range-thumb-pseudo-size: var(--form-field-height);
}
