//============================================
// Variable Fonts not yet available on /css2
//============================================

// Asap Condensed
//============================================

@font-face
  font-family: "Asap Condensed Variable"
  src: url("../fonts/AsapCondensedGX.ttf")
  font-style: normal
  font-weight: normal
