//============================================
// Shame
//============================================


// Saira
//============================================

.saira-dropcap
  margin: 0 $space-half 0 0
  float: left
  font-size: 19.5rem
  font-family: $font-saira-extracond
  font-weight: 900
  line-height: 0.75

.saira-border-bottom
  border-bottom: $space solid $color-saira


// Asap
//============================================

.asap-dropcap
  margin-bottom: 0
  font-family: $font-asap
  font-weight: 700
  text-align: center
  border-radius: 50%

.asap-dropcap-xs
  +size(8rem)
  margin-top: $space-quarter
  font-size: 7rem
  line-height: 7.6rem

.asap-dropcap-s
  +size(12rem)
  margin-top: $space-quarter
  font-size: 10rem
  line-height: 11.5rem

.asap-dropcap-m
  +size(16rem)
  font-size: 14rem
  line-height: 14rem

.asap-dropcap-l
  +size(20rem)
  font-size: 18rem
  line-height: 20rem

.asap-dropcap-xl
  +size(20rem)
  font-size: 18rem
  line-height: 20rem

.asap-dropcap-lft
  float: left
  margin-right: $space
  // shape-outside: circle(8.6rem at 9rem 8rem)
  shape-outside: circle()

.asap-dropcap-rgt
  float: right
  margin-left: $space
  shape-outside: circle()

.asap-dropcap-green
  background-color: $color-asap-green

.asap-dropcap-blue
  background-color: $color-asap-blue

.asap-dropcap-red
  background-color: $color-asap-red


// Archivo
//============================================

.archivo-outline
  -webkit-text-stroke: 0.1rem $black
  color: transparent

.archivo-border-top
  border-top: $space solid $black

.archivo-border-bottom
  border-bottom: $space-half solid $black
