//============================================
// Background
//============================================

.u-bg-black
  background-color: $black

.u-bg-dust
  background-color: $gray-dust

.u-bg-powder
  background-color: $gray-powder

.u-bg-saira
  background-color: $color-saira

.u-bg-archivo
  background-color: $color-archivo
  background: linear-gradient(135deg, rgba($color-archivo, 1), rgba($color-archivo, 0.66))

.u-bg-faustina
  background-color: $color-faustina
  background: linear-gradient(135deg, rgba($color-faustina, 1), rgba($color-faustina, 0.66))

.u-bg-manuale
  background-color: $color-manuale

.u-bg-asap
  background-color: $color-asap
  background: linear-gradient(135deg, rgba($color-asap, 1), rgba($color-asap, 0.66))
