//============================================
// Background
//============================================

.u-bg-black
  background-color: $black

.u-bg-dust
  background-color: $gray-dust

.u-bg-powder
  background-color: $gray-powder

.u-bg-saira
  background-color: $color-saira
  background: linear-gradient(135deg, rgba(light($color-saira, 33%), 1), rgba(light($color-saira, 77%), 1))

.u-bg-manuale
  background-color: $color-manuale

.u-bg-archivo
  background-color: $color-archivo
  background: linear-gradient(135deg, rgba($color-archivo, 1), rgba(light($color-archivo, 33%), 1))

.u-bg-faustina
  background-color: $color-faustina
  background: linear-gradient(to top, rgba($color-faustina, 0.66), rgba($color-faustina, 0.99))

.u-bg-asap
  background-color: $color-asap
  background: linear-gradient(135deg, rgba($color-asap, 1), rgba(light($color-asap, 33%), 1))
