//============================================
// Border
//============================================


// Top
//============================================

.u-border-top-solid
  border-top-style: solid

.u-border-top-black
  border-top-color: $color-text

.u-border-top-archivo
  border-top-color: $fill-archivo

.u-border-top-faustina
  border-top-color: $color-faustina

.u-border-top-asap
  border-top-color: $color-asap

.u-border-top-1
  border-top-width: 0.1rem


// Radius
//============================================

.u-radius-2
  border-radius: 0.2rem
