//============================================
// Border
//============================================


// Top
//============================================

.u-border-top-solid
  border-top-style: solid

.u-border-top-black
  border-top-color: $black

.u-border-top-1
  border-top-width: 0.1rem
