//============================================
// Svg
//============================================

.u-fill-asap
  color: $fill-asap
  fill: $fill-asap

.u-fill-faustina
  color: $fill-faustina
  fill: $fill-faustina

.u-fill-archivo
  color: $fill-archivo
  fill: $fill-archivo

.u-fill-manuale
  color: $fill-manuale
  fill: $fill-manuale

.u-fill-saira
  color: $fill-saira
  fill: $fill-saira

.u-fill-white
  fill: $white
