//============================================
// Text
//============================================


// Font Family
//============================================

.u-ff-saira
  font-family: $font-saira

.u-ff-saira-semicond
  font-family: $font-saira-semicond

.u-ff-saira-cond
  font-family: $font-saira-cond

.u-ff-saira-extracond
  font-family: $font-saira-extracond

.u-ff-archivo
  font-family: $font-archivo

.u-ff-manuale
  font-family: $font-manuale

.u-ff-faustina
  font-family: $font-faustina

.u-ff-asap
  font-family: $font-asap


// Font Weight
//============================================

.u-fw-100
  font-weight: 100

.u-fw-200
  font-weight: 200

.u-fw-300
  font-weight: 300

.u-fw-400
  font-weight: 400

.u-fw-500
  font-weight: 500

.u-fw-600
  font-weight: 600

.u-fw-700
  font-weight: 700

.u-fw-800
  font-weight: 800

.u-fw-900
  font-weight: 900


// Font Style
//============================================

.u-fs-italic
  font-style: italic


// Text Indent
//============================================

.u-ti
  text-indent: $space-double


// Open Type Features
//============================================

.u-ot-salt
  font-feature-settings: "salt"


// Line Height
//============================================

.u-lh-085
  line-height: 0.85

.u-lh-1
  line-height: 1

.u-lh-13
  line-height: 1.3

.u-lh-14
  line-height: 1.4


// Text Transform
//============================================

.u-tt-caps,
.u-tt-uppercase
  text-transform: uppercase


// Text Align
//============================================

.u-ta-lft
  text-align: left

.u-ta-rgt
  text-align: right

.u-ta-center
  text-align: center

.u-ta-justify
  text-align: justify


// Text Color
//============================================

.u-c-primary
  color: $primary

.u-c-text
  color: $color-text

.u-c-white
  color: $white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


// Font Weight
//============================================

.u-fw-bold
  font-weight: bold


// Font Size
//============================================

.u-fz-sm
  font-size: small


// White Space
//============================================

.u-no-wrap
  white-space: nowrap


// Truncate
//============================================

.u-truncate
  +truncate

// Text Hyphenation
//============================================

.u-hyphenate
  hyphens: auto

