//============================================
// Layout
//============================================


// Container
//============================================

// 1. Make text truncation work inside containers.
// 2. Declare side specific margins & paddings
//    to avoid conflicts when weaker styles try
//    to apply top & bottom margins or paddings.

.l-container
  width: 100% // 1.
  max-width: $layout-width-xs
  padding-left: $layout-gutter-xs // 2.
  padding-right: $layout-gutter-xs // 2.
  margin-left: auto // 2.
  margin-right: auto // 2.

  +mq($bp-xs)
    max-width: 41.6rem

  +mq($bp-sm)
    width: 80%
    max-width: 80rem

.l-container--small
  max-width: 60rem


// Main
//============================================

.l-main
  +pos(0 0, top left)
  +size(100%)
  display: flex
  overflow-y: hidden
  overflow-x: auto
  -webkit-overflow-scrolling: touch

// Section
//============================================

.l-section
  position: relative
  width: 90%
  min-width: 90%
  height: 100%
  overflow-y: scroll
  overflow-x: hidden
  -webkit-overflow-scrolling: touch

.l-section--lg
  width: 95%
  min-width: 95%
