<main class="l-main js-main">
  <h1 class="intro u-push-btm-double u-d-none u-d-blk@sm">Google<br>Fonts +<br>Omnibus<br>Type</h1>
  {% include "sections/intro.html" %}
  <span class="arrow arrow--intro js-arrow-intro js-arrow-right">
    <svg class="i i-arrow u-fill-white">
      <use xlink:href="images/sprite.svg#arrow"></use>
    </svg>
  </span>
  {% include "sections/faustina.html" %}
  <span class="arrow arrow--faustina js-arrow-faustina js-arrow-right">
    <svg class="i i-arrow u-fill-white">
      <use xlink:href="images/sprite.svg#arrow"></use>
    </svg>
  </span>
  {% include "sections/manuale.html" %}
  <span class="arrow arrow--manuale js-arrow-manuale js-arrow-right">
    <svg class="i i-arrow u-fill-white">
      <use xlink:href="images/sprite.svg#arrow"></use>
    </svg>
  </span>
  {% include "sections/archivo.html" %}
  <span class="arrow arrow--archivo js-arrow-archivo js-arrow-right">
    <svg class="i i-arrow u-fill-white">
      <use xlink:href="images/sprite.svg#arrow"></use>
    </svg>
  </span>
  {% include "sections/asap.html" %}
  <span class="arrow arrow--asap js-arrow-asap js-arrow-right">
    <svg class="i i-arrow u-fill-white">
      <use xlink:href="images/sprite.svg#arrow"></use>
    </svg>
  </span>
  {% include "sections/saira.html" %}
  <span class="arrow arrow--saira js-arrow-saira">
    <svg class="i i-home u-fill-white u-pull-top-1 u-pull-top-2@sm">
      <use xlink:href="images/sprite.svg#home"></use>
    </svg>
  </span>
</main>
