{% set labels = {
  "wght": "Weight",
  "wdth": "Width"
} %}

{% if parameters.axes and parameters.axes|length >= 1 %}
  <div class="js-variable l-container l-container--lg u-push-btm-double">
    <div>
      <form class="js-variable-form u-ff-roboto u-c-text u-d-flex u-padd-top-half u-padd-top@sm"><!-- u-border-top-solid u-border-top-1 -->
        <script type="application/json" class="js-variable-form-axes">
          {{ parameters.axes | dump | safe  }}
        </script>
        <div style="margin-left: -0.5rem; margin-right: -0.5rem; width: 100%;">
          {% set sliderWidth = 100/(parameters.axes|length) %}
          {% for axisKey, axis in parameters.axes %}
            <label class="u-fz-sm" style="display: block; width: {{ sliderWidth }}%; margin-left: 0.5rem; margin-right: 0.5rem;">
              <strong>{{ labels[axisKey] }}</strong>
              <input class="input-range" style="width: 100%;"
                     step="{{ axis.step if axis.step else 1 }}"
                     min="{{ axis.min }}"
                     max="{{ axis.max }}"
                     value="{{ (((axis.max - axis.min)/2) + axis.min)|round }}"
                     type="range" data-axis="{{ axisKey }}" />
            </label>
          {% endfor %}
        </div>
      </form>
      <div class="js-variable-output u-push-btm"
           style="font-family: {{ parameters.family }} Variable, {{ parameters.family }}, 'Faustina Variable', Skia; line-height: 1; font-size: 10vw;">
        {{ parameters.value if parameters.value else parameters.family }}
      </div>
    </div>
  
    <div class="g-row u-ff-roboto u-fw-400">
      <div class="g g-4@md">
        <div class="u-push-btm-half" style="line-height: 1">
          <i class="material-icons">font_download</i>
          <h3 class="u-fw-700 u-d-ibl u-fz u-push-btm-none" style="line-height: 1; transform: translateY(-5px);">
            Beautiful
          </h3>
        </div>
        <p class="u-fz-sm">
          The variable version of {{ parameters.family }} provides you with access to an even wider range of<span class="widont">&nbsp;</span>styles.
        </p>
      </div>
      <div class="g g-5@md">
        <div class="u-push-btm-half" style="line-height: 1">
          <i class="material-icons">timer</i>
          <h3 class="u-fw-700 u-d-ibl u-fz u-push-btm-none" style="line-height: 1; transform: translateY(-5px);">
            Fast
          </h3>
        </div>
        <p class="u-fz-sm">
          This means smaller file sizes and faster load times on Google
          Fonts, whether or not you use {{ parameters.family }}’s variable<span class="widont">&nbsp;</span>features.
        </p>
      </div>
      <div class="g g-3@md">
        <div class="u-push-btm-half" style="line-height: 1">
          <i class="material-icons">lock_open</i>
          <h3 class="u-fw-700 u-d-ibl u-fz u-push-btm-none" style="line-height: 1; transform: translateY(-5px);">
            Open
          </h3>
        </div>
        <p class="u-fz-sm">
          {{ parameters.family }} is open source and available under the Open Font<span class="widont">&nbsp;</span>License.
        </p>
      </div>
    </div>
    <div class="u-padd-vert-double u-ta-center">
      <a href="https://twitter.com/googlefonts" 
         target="_blank"
         rel="noopener noreferrer"
         class="u-ff-roboto u-tt-uppercase u-fw-500 u-fz-sm u-padd-half u-bg-black--10 u-radius-2">Follow @googlefonts on Twitter</a>
    </div>
  </div>
{% endif %}
