//============================================
// Archivo
//============================================

.archivo-outline
  -webkit-text-stroke: 0.1rem $color-archivo
  color: transparent

.archivo-border-top
  border-top: $space solid $color-archivo

.archivo-border-bottom
  border-bottom: $space-half solid $color-archivo
