//============================================
// Faustina
//============================================

// Dropcap
//============================================

.faustina-dropcap
  +size(5.8rem)
  float: left
  margin: 0.9rem $space-half 0 0
  font-size: $fs-h4
  font-weight: 700
  text-align: center
  line-height: 5rem
  border: 0.1rem solid $white
  border-radius: 50%
