//============================================
// Faustina
//============================================


// Header
//============================================

.faustina-border--top::before
  +size(100%, 8rem)
  position: absolute
  z-index: $z-faustina-header
  content: ""
  margin-top: -$space-oneAndHalf
  border-top: 0.2rem solid $white
  transform: skew(0deg, -4deg)

.faustina-border--bottom::after
  +size(100%, 8rem)
  position: absolute
  z-index: $z-faustina-header
  content: ""
  margin-top: -$space
  border-bottom: 0.2rem solid $white
  transform: skew(0deg, 2deg)


// Dropcap
//============================================

.faustina-dropcap
  +size(5.8rem)
  float: left
  margin: 0.9rem $space-half 0 0
  font-size: $fs-h4
  font-weight: 700
  text-align: center
  line-height: 5.2rem
  color: $white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: $color-faustina
  border-radius: 50%

.faustina-dropcap--invert
  color: $white
  background-color: transparent
  border: 0.2rem solid $white


// Chessboard
//============================================

.faustina-chessboard
  display: flex
  flex-wrap: wrap
  margin-bottom: $space-half
  border: 0.1rem solid $white

.faustina-chessboard__item
  flex-basis: 50%
  border: 0.1rem solid $white


// X-Height
//============================================

.faustina-x-height
  position: relative
  margin-bottom: 0.2rem
  padding: $space-quarter $space $space
  background-color: $color-faustina
  color: $white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  line-height: 1
  text-align: center
  border: 0.2rem solid $white

  &::before,
  &::after
    position: absolute
    left: 0
    content: ""
    width: 100%
    border-top: 0.2rem solid $white

  &::before
    top: 4.6rem

  &::after
    bottom: 4.1rem

.faustina-x-height__text
  margin-bottom: 0
  font-size: 10rem

// Rounded Terminals
//============================================

.faustina-rounded-terminals
  +size(100%, 11.4rem)
  display: flex
  margin-bottom: 0.2rem
  background-color: $color-faustina
  font-family: $font-faustina
  color: $white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  border: 0.1rem solid $white

.faustina-rounded-terminals__item
  position: relative
  flex-basis: 50%
  margin-bottom: 0
  font-size: $fs-h1
  text-align: center
  overflow: hidden
  border: 0.1rem solid $white

  &::before
    +pos(0 0, top left)
    +size(100%)
    content: ""
    border: 0.2rem solid $color-faustina
    z-index: $z-faustina-header

.faustina-rounded-terminals__item-terminal-top
  position: absolute
  font-size: 36rem
  top: -35rem
  left: -7rem

.faustina-rounded-terminals__item-terminal-bottom
  position: absolute
  font-size: 36rem
  top: -22rem
  left: 3rem

// What the font
//============================================

.faustina-whatfont
  display: inline-block
  margin-bottom: 0
  padding: 0.2rem 0.4rem 0.4rem
  font-family: $font-faustina
  line-height: 1
  font-size: small
  font-weight: 700
  letter-spacing: 0.05rem
  text-transform: uppercase
  border: 0.1rem solid $white
  color: $white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
