//============================================
// Manuale
//============================================

.manuale-frame
  position: relative
  max-width: calc(32rem - 0.8rem)
  margin: 0.4rem auto $space
  border-top: 0.4rem solid $color-manuale-pink
  border-bottom: 0.4rem solid $color-manuale-blue
  background-position: 0 0, 100% 0
  background-repeat: no-repeat
  background-size: 0.4rem 100%
  background-image: linear-gradient(to bottom, $color-manuale-pink 0%, $color-manuale-blue 100%), linear-gradient(to bottom, $color-manuale-pink 0%, $color-manuale-blue 100%)

  &::after
    +center-transform
    width: calc(100% + 0.8rem)
    height: calc(100% + 1.6rem)
    content: ""
    border-top: 0.1rem solid $color-manuale-pink
    border-bottom: 0.1rem solid $color-manuale-blue
    background-position: 0 0, 100% 0
    background-repeat: no-repeat
    background-size: 0.1rem 100%
    background-image: linear-gradient(to bottom, $color-manuale-pink 0%, $color-manuale-blue 100%), linear-gradient(to bottom, $color-manuale-pink 0%, $color-manuale-blue 100%)

  &::before
    +center-transform
    width: calc(100% - 1.4rem)
    height: calc(100% - 0.6rem)
    content: ""
    border-top: 0.1rem solid $color-manuale-pink
    border-bottom: 0.1rem solid $color-manuale-blue
    background-position: 0 0, 100% 0
    background-repeat: no-repeat
    background-size: 0.1rem 100%
    background-image: linear-gradient(to bottom, $color-manuale-pink 0%, $color-manuale-blue 100%), linear-gradient(to bottom, $color-manuale-pink 0%, $color-manuale-blue 100%)
