//============================================
// Saira
//============================================

.saira-headline
  font-size: 4rem
  line-height: 4rem

  +mq($bp-sm)
    font-size: 7rem
    line-height: 7rem

  +mq($bp-md)
    font-size: 11rem
    line-height: 11rem
