<section class="l-section">

  <div class="u-padd-top u-padd-top-double@sm u-bg-archivo u-c-archivo">

    <!-- Intro -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h2 class="u-h1@sm u-ff-archivo u-push-btm-quarter">Archivo</h2>
      <h3 class="u-h6 u-ff-archivo u-push-btm-none">from Héctor Gatti</h3>
    </div>

    <!-- Variants -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6@sm">
          <h3 class="u-ff-archivo u-h4 u-push-btm-half">Variants</h3>
        </div>
        <div class="g g-6@sm">
          <p class="u-ff-manuale u-push-btm-none">
            Archivo qualifies as a neo-grotesque font, especially designed to be used in headlines and body text, both for print and digital display. It is reminiscent of the sans serif typefaces designed between the late 19th and mid 20th centuries, such as Akzidenz Grotesk, Venus and Helvetica.
          </p>
          <p class="u-ff-manuale u-push-btm-none u-ti">
            Today, Archivo is made up of 8 styles: Regular, Medium, Semibold and Bold plus Italics.
          </p>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row u-fill-archivo">
        <div class="g g-12 g-6@sm u-push-btm u-push-btm-none@sm">
          <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid">
            <p class="u-ff-archivo u-fw-700 u-lh-1 u-fz-sm u-push-btm-none">400</p>
            <p class="u-ff-archivo u-h1 u-h2@sm u-h1@md u-fw-400 u-push-btm-quarter u-pull-lft-2">Regular</p>
            <p class="u-ff-archivo u-fw-700 u-lh-1 u-fz-sm u-push-btm-none">500</p>
            <p class="u-ff-archivo u-h1 u-h2@sm u-h1@md u-fw-500 u-push-btm-quarter u-pull-lft-2">Medium</p>
            <p class="u-ff-archivo u-fw-700 u-lh-1 u-fz-sm u-push-btm-none">600</p>
            <p class="u-ff-archivo u-h1 u-h2@sm u-h1@md u-fw-600 u-push-btm-quarter u-pull-lft-2">Semibold</p>
            <p class="u-ff-archivo u-fw-700 u-lh-1 u-fz-sm u-push-btm-none">700</p>
            <p class="u-ff-archivo u-h1 u-h2@sm u-h1@md u-fw-700 u-push-btm-none u-pull-lft-2">Bold</p>
          </div>
        </div>
        <div class="g g-12 g-6@sm">
          <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid">
            <p class="u-ff-archivo u-fw-700 u-lh-1 u-fz-sm u-push-btm-none">400i</p>
            <p class="u-ff-archivo u-h1 u-h2@sm u-h1@md u-fw-400 u-fs-italic u-push-btm-quarter">Regular</p>
            <p class="u-ff-archivo u-fw-700 u-lh-1 u-fz-sm u-push-btm-none">500i</p>
            <p class="u-ff-archivo u-h1 u-h2@sm u-h1@md u-fw-500 u-fs-italic u-push-btm-quarter">Medium</p>
            <p class="u-ff-archivo u-fw-700 u-lh-1 u-fz-sm u-push-btm-none">600i</p>
            <p class="u-ff-archivo u-h1 u-h2@sm u-h1@md u-fw-600 u-fs-italic u-push-btm-quarter">Semibold</p>
            <p class="u-ff-archivo u-fw-700 u-lh-1 u-fz-sm u-push-btm-none">700i</p>
            <p class="u-ff-archivo u-h1 u-h2@sm u-h1@md u-fw-700 u-fs-italic u-push-btm-none">Bold</p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6@sm g-push-6@sm">
          <p class="u-ff-manuale u-push-btm-none">
            Flat and sharp terminals together with a uniform (or of very little variation) stroke width deliver an excellent performance on small sizes and have a great impact in headlines.
          </p>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm@sm">
      <div class="g-row">
        {% for terminal in archivo.terminals %}
        <div class="g g-6 g-3@md">
          <div class="u-padd-top-half u-padd-top@sm u-border-top-1 u-border-top-archivo u-border-top-solid u-push-btm">
            <div class="embed embed-4:3">
              <svg class="i i-{{ terminal.name }} embed_svg u-fill-archivo">
                <use xlink:href="images/sprite.svg#{{ terminal.name }}"></use>
              </svg>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6@sm g-push-6@sm">
          <p class="u-ff-manuale u-push-btm-none">
            Some characters of the Italic styles, such as the ‘a’, ‘f’ and ‘g’, present alternative structures that differ from conventional neo-grotesque fonts. Together with its popular sister Archivo Narrow, Archivo covers a wide spectrum of widths and weights that make it a versatile, all terrain classic.
          </p>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid u-fill-archivo">
        <p class="u-ff-archivo u-fw-700 u-lh-1 u-fz-sm u-push-btm-none u-tt-uppercase">Italic styles</p>
        <p class="archivo-italics u-ff-archivo u-fs-italic u-fw-700 u-padd-btm u-padd-btm-double@md u-push-btm-none u-pull-top-half js-archivo-headline">afg</p>
      </div>
    </div>

    <!-- Process -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6@sm">
          <h3 class="u-ff-archivo u-h4 u-push-btm-half">Process</h3>
        </div>
        <div class="g g-6@sm">
          <p class="u-ff-manuale u-push-btm-none">
            During the initial phase Archivo Narrow was designed by adapting Chivo to a chart of specified proportions of height and width. By request of the client, some characters were adjusted (b, g, q, r, E, F, L, Q, R). During the same period Archivo Black was designed, following the same procedure.
          </p>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid">
        <p class="u-ff-archivo u-fw-700 u-lh-1 u-fz-sm u-push-btm-quarter u-tt-uppercase u-fill-archivo">x-height</p>
        <p class="archivo-ascendants u-ff-archivo u-push-btm-none u-fill-archivo">
          <span class="u-fw-400">b</span><span class="u-fw-400">g</span><span class="u-fw-500">q</span><span class="u-fw-500">r</span><span class="u-fw-600">E</span><span class="u-fw-600">F</span><span class="u-fw-700">L</span><span class="u-fw-700">Q</span><span class="u-fw-700">R</span>
        </p>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6@sm g-push-6@sm">
          <p class="u-ff-manuale u-push-btm-none">
            This style, together with Archivo Narrow Regular and Bold, plus Italics for both weight styles, was published in 2012 with a set of basic characters, which was later expanded to Adobe Latin 3. The goal was to create a complete suite, so Omnibus-Type also created a “non condensed“ version following the same design principles used for Archivo Narrow. This project was developed during 2015, and a year later we included two intermediate weight styles.
          </p>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm-half@sm">
      <div class="g-row">
        <div class="g g-12 g-6@sm g-3@md">
          <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid">
            <p class="u-ff-archivo u-lh-13 u-fw-400 u-fz-sm u-fill-archivo">
              Flat and sharp terminals together with a uniform (or of very little variation) stroke width deliver an excellent performance on small sizes and have a great impact in headlines.
            </p>
          </div>
        </div>
        <div class="g g-12 g-6@sm g-3@md">
          <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid">
            <p class="u-ff-archivo u-lh-13 u-fw-500 u-fz-sm u-fill-archivo">
              Flat and sharp terminals together with a uniform (or of very little variation) stroke width deliver an excellent performance on small sizes and have a great impact in headlines.
            </p>
          </div>
        </div>
        <div class="g g-12 g-6@sm g-3@md">
          <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid">
            <p class="u-ff-archivo u-lh-13 u-fw-600 u-fz-sm u-fill-archivo">
              Flat and sharp terminals together with a uniform (or of very little variation) stroke width deliver an excellent performance on small sizes and have a great impact in headlines.
            </p>
          </div>
        </div>
        <div class="g g-12 g-6@sm g-3@md">
          <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid">
            <p class="u-ff-archivo u-lh-13 u-fw-700 u-fz-sm u-fill-archivo">
              Flat and sharp terminals together with a uniform (or of very little variation) stroke width deliver an excellent performance on small sizes and have a great impact in headlines.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6@sm g-push-6@sm">
          <p class="u-ff-manuale u-push-btm-none">
            Archivo’s main challenge was to acknowledge and consider the traits that made Archivo Narrow and Archivo Black two of the most successful products of Omnibus-Type, so that this new undertaking would crete further value for the user, without compromising ease of use. For this purpose, the team paid special attention to the programming of the menus from which the different styles are operated.
          </p>
          <p class="u-ff-manuale u-push-btm-none u-ti">
            The creation of this typeface demanded constant testing and analyzing to produce an even and harmonious spacing of the font, while complying with the given requirements. In spite of being stylistically based on the font Chivo, Archivo’s technical features and performance turned out to be original and distinctive.
          </p>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm">
      <div class="g-row">
        <div class="g g-12 g-6@sm">
          <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid">
            <p class="u-h2 u-h3@sm u-h1@md u-ff-archivo u-lh-1 u-fw-400 u-fill-archivo">
              {% include "modules/archivo-alphabet.html" %}
            </p>
          </div>
        </div>
        <div class="g g-12 g-6@sm">
          <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid">
            <p class="u-h2 u-h3@sm u-h1@md u-ff-archivo u-lh-1 u-fw-500 u-fill-archivo">
              {% include "modules/archivo-alphabet.html" %}
            </p>
          </div>
        </div>
        <div class="g g-12 g-6@sm">
          <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid">
            <p class="u-h2 u-h3@sm u-h1@md u-ff-archivo u-lh-1 u-fw-600 u-fill-archivo">
              {% include "modules/archivo-alphabet.html" %}
            </p>
          </div>
        </div>
        <div class="g g-12 g-6@sm">
          <div class="u-padd-top-half u-border-top-1 u-border-top-archivo u-border-top-solid">
            <p class="u-h2 u-h3@sm u-h1@md u-ff-archivo u-lh-1 u-fw-700 u-fill-archivo">
              {% include "modules/archivo-alphabet.html" %}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Applications -->

    <div class="l-container u-padd-btm-double">
      <div class="g-row">
        <div class="g g-6@sm">
          <h3 class="u-ff-archivo u-h4 u-push-btm-half">Applications</h3>
        </div>
        <div class="g g-6@sm">
          <p class="u-ff-manuale u-push-btm-none">
            Archivo can be used for composing headlines, short snippets, and pull quotes on magazines and other serial publications. In this context, it could be nicely combined with body text typefaces such as Rosario, Slabo and Unna.
          </p>
        </div>
      </div>
    </div>

    <!-- Origins -->
  
    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6@sm">
          <h3 class="u-ff-archivo u-h4 u-push-btm-half">Origins</h3>
        </div>
        <div class="g g-6@sm">
          <p class="u-ff-manuale u-push-btm-none">
            Archivo (same as its popular sister Archivo Narrow) was created to meet to a specific need. The spirit and style of Chivo is adapted to specific spacing and kerning for document compatibility with another widely available sans serif font family.
          </p>
          <p class="u-ff-manuale u-push-btm-none u-ti">
            The initial challenge of this project was to harmonize the neo-grotesque style of Chivo with the demands and restrictions of document fidelity. The next level is the integration of the Archivo and Archivo Narrow fonts with Archivo Black in order to make it a technically and stylistically coherent super-family with a set of style varying by width and weight.
          </p>
        </div>
      </div>
    </div>

    {% set parameters = {'url': '#!', 'family': 'Archivo'} %}
    {% include "shared/column-footer.html" %}

  </div>

</section>