<section class="l-section">

  <div class="u-padd-top u-padd-top-double@sm u-bg-asap u-c-asap">

    <!-- Intro -->

    <div class="l-container u-push-btm-double">
      <h2 class="u-h1@sm u-ff-asap u-push-btm-quarter">Asap Condensed</h2>
        <h3 class="u-h6 u-ff-asap u-push-btm">from Pablo Cosgaya and&nbsp;<br class="u-d-none@sm">Nicolás Silva</h3>
    </div>

    <!-- Variants -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-ff-asap u-push-btm-half">Variants</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Asap Condensed is a sans-serif font for the composition of titles and short copy in print and digital media. It offers 82% condensation compared to its sister font, Asap, and maintains a uniform stroke thickness. Asap Condensed has smooth, round finishes on the slanted and perpendicular extensions of each letter, and its ascenders rise above the height of its capitals.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm u-padd-top-half">
      <div class="u-border-top-solid u-border-top-1 u-border-top-asap-text">
        <p class="asap-ascendants u-ff-asap u-pull-top-half@sm u-fw-700 u-ta-center">xtlRegEhv</p>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        The project was mostly developed in 2014 and 2015, followed by the addition of two more Medium weights in 2016. Today, both Asap and Asap Condensed are available in eight styles (Regular, Italic, Medium, Medium Italic, SemiBold, SemiBold Italic, Bold and Bold Italic), each with an Adobe Latin 3 glyph set.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="asap-weight g g-6">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <p class="u-ff-asap u-push-btm-none">400 Regular</p>
            <p class="u-ff-asap u-push-btm-none u-fw-500">500 Medium</p>
            <p class="u-ff-asap u-push-btm-none u-fw-600">600 Semibold</p>
            <p class="u-ff-asap u-push-btm-none u-fw-700">700 Bold</p>
          </div>
        </div>
        <div class="asap-weight g g-6">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <p class="u-ff-asap u-push-btm-none u-fs-italic">400 Regular</p>
            <p class="u-ff-asap u-push-btm-none u-fs-italic u-fw-500">500 Medium</p>
            <p class="u-ff-asap u-push-btm-none u-fs-italic u-fw-600">600 Semibold</p>
            <p class="u-ff-asap u-push-btm-none u-fs-italic u-fw-700">700 Bold</p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        The Italic styles of Asap Condensed provide emphasis with a modified angle and alternate letterform structures with the a, g, h, m, n, and u. Together with Asap, it offers an array of typographic color, with six thematic options added by the Asap Symbol font (People, Transport, Objects, Signal, Elevators, and Arrows).
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm-double">
      <div class="g-row">
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text u-push-btm-half">
            <div class="embed embed-4:3">
              <svg class="i i-asap-people embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-people"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text u-push-btm-half">
            <div class="embed embed-4:3">
              <svg class="i i-asap-transport embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-transport"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text u-push-btm-half">
            <div class="embed embed-4:3">
              <svg class="i i-asap-object embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-object"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-signal embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-signal"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-elevator embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-elevator"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-arrow embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-arrow"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Process -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-ff-asap u-push-btm-half">Process</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Asap Condensed is an extension of Asap. Beyond honoring the stylistic features of Asap, we tried to maintain a consistent variation in width for each glyph across the family’s different styles.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
        <p class="asap-headline u-ff-asap u-fw-400 u-ta-center u-push-btm-none">
          All the styles share the same width
        </p>
        <p class="asap-headline u-ff-asap u-fw-500 u-ta-center u-push-btm-none">
          All the styles share the same width
        </p>
        <p class="asap-headline u-ff-asap u-fw-600 u-ta-center u-push-btm-none">
          All the styles share the same width
        </p>
        <p class="asap-headline u-ff-asap u-fw-700 u-ta-center u-push-btm-none">
          All the styles share the same width
        </p>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        This design constraint guided many of our decisions, especially in the development of Asap Condensed. The first step was to determine just how condensed Asap could be, so we experimented with different condensation values to determine whether the principle of width-consistency could be maintained throughout the family without affecting the rhythm or natural proportions of the different styles.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="asap-alphabet g g-6 u-ff-asap u-push-btm">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            {% include "modules/asap-alphabet.html" %}
          </div>
        </div>
        <div class="asap-alphabet g g-6 u-ff-asap u-fw-500 u-push-btm">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            {% include "modules/asap-alphabet.html" %}
          </div>
        </div>
        <div class="asap-alphabet g g-6 u-ff-asap u-fw-600">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            {% include "modules/asap-alphabet.html" %}
          </div>
        </div>
        <div class="asap-alphabet g g-6 u-ff-asap u-fw-700">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            {% include "modules/asap-alphabet.html" %}
          </div>
        </div>
      </div> 
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        Unlike Ancha, the neo-grotesque type that preceded Asap, the edges and terminals of Asap and Asap Condensed are softened and rounded. Instead of achieving this effect through a mechanical use of the ‘rounding’ effect found in many type design applications, we opted to develop our own criteria for softening the letters, following the direction of the stroke and the form of the stroke terminal (which may be vertical, horizontal, diagonal, or curved). Our aim was to create a soft finish with a flattened curve that avoids the geometric effects that are typically produced by ‘rounding’.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6 u-push-btm u-push-btm-double@sm">
          <div class="u-padd-top-half u-padd-top@sm u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-terminal-a embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-terminal-a"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-6 u-push-btm u-push-btm-double@sm">
          <div class="u-padd-top-half u-padd-top@sm u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-terminal-g embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-terminal-g"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-6">
          <div class="u-padd-top-half u-padd-top@sm u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-terminal-l embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-terminal-l"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-6">
          <div class="u-padd-top-half u-padd-top@sm u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-terminal-r embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-terminal-r"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm-double">
      <p class="u-ff-manuale u-push-btm-none">
        When condensing the designs, Nicolás and Pablo had to make special adjustments to some letters that tend to disrupt the evenness of typographic color (k, w, x, y, K, W, X, Y). At the same time, they attended to the spacing of the vertical signs to keep the width consistent between variants.
      </p>
    </div>
    
    {% set parameters = {'url': '#!', 'family': 'Asap-Condensed'} %}
    
    <!-- Variable -->
    {% include "shared/variable.html" %}

    <!-- Applications -->

    <div class="l-container u-push-btm-double">
      <h3 class="u-ff-asap u-push-btm-half">Applications</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Nicolás and Pablo note the advantage of pairing Asap Condensed with Asap in cases where a column of text needs to be more spatially efficient, such as footnotes, highlighted copy, and titles on projects typeset with Asap. This pairing is also effective on websites and their navigation features, like menus and submenus. 
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        The preset option for tabular numbers in the Asap family also makes it easy to use with tables, reports, and forms. Additionally, Asap Condensed could be useful for mobile apps trying to fit news and advertising into tight spaces.
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        Asap Condensed would also work especially well in print and online publications when it is combined with other styles, such as traditional typefaces used for copy and text like Andada, Droid, or Faustina.
      </p>
    </div>

    <!-- Origins -->

    <div class="l-container u-push-btm-double">
      <h3 class="u-ff-asap u-push-btm-half">Origins</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Asap Condensed was developed to complement the Asap family, which already expanded its range with the inclusion of the pictogram variable Asap Symbol. Asap Condensed offers a compatible style with greater efficiency and performance.
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        However, if you compare Asap and Asap Condensed in detail, you will find that some signs change subtly in their structure. This is due to the fact that Asap Condensed, the narrowest width, was challenged with the restriction limited space.
      </p>
    </div>

    {% include "shared/column-footer.html" %}

  </div>

</section>
