<section class="l-section">

  <div class="u-padd-top u-padd-top-double@sm u-bg-asap u-c-asap">

    <!-- Intro -->

    <div class="l-container u-push-btm-double">
      <h2 class="u-h1@sm u-ff-asap u-push-btm-quarter">Asap Condensed</h2>
        <h3 class="u-h6 u-ff-asap u-push-btm">from Pablo Cosgaya and&nbsp;<br class="u-d-none@sm">Nicolás Silva</h3>
    </div>

    <!-- Variants -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-ff-asap u-push-btm-half">Variants</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Asap Condensed is a sans serif font for the composition of titles and short copy in printed and digital media. It offers an 82% condensation compared to its Asap ‘sister’ and keeps a uniform line thickness. It has smooth round finishes on the slanted and perpendicular extensions of the structure. Its ascendants’ height goes above the upper cases.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm u-padd-top-half">
      <div class="u-border-top-solid u-border-top-1 u-border-top-asap-text">
        <p class="asap-ascendants u-ff-asap u-pull-top-half u-fw-700 u-ta-center">xtlRegEhv</p>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        The project was developed between mid 2014 and mid 2015 and the following year two more medium weight variables were included. Today, Asap Condensed offers eight variables: Regular, Italic, Medium, Medium Italic, Semibold, Semibold Italic, Bold and Bold Italic, with a Adobe Latin 3 set. These are additions to the already existing six variables (Regular, Italic, Medium, Medium Italic, Bold and Bold Italic) and the pictogram variable.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="asap-weight g g-6">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <p class="u-ff-asap u-push-btm-none">400 Regular</p>
            <p class="u-ff-asap u-push-btm-none u-fw-500">500 Medium</p>
            <p class="u-ff-asap u-push-btm-none u-fw-600">600 Semibold</p>
            <p class="u-ff-asap u-push-btm-none u-fw-700">700 Bold</p>
          </div>
        </div>
        <div class="asap-weight g g-6">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <p class="u-ff-asap u-push-btm-none u-fs-italic">400 Regular</p>
            <p class="u-ff-asap u-push-btm-none u-fs-italic u-fw-500">500 Medium</p>
            <p class="u-ff-asap u-push-btm-none u-fs-italic u-fw-600">600 Semibold</p>
            <p class="u-ff-asap u-push-btm-none u-fs-italic u-fw-700">700 Bold</p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        Asap Condensed italic variables, beyond modifying its angle, also change the structure (e.g.: a, g, h, m, n, u). Together with its successful ‘sister’ Asap, Asap Condensed offers a great array of colors and widths, to which you can add the variable of Asap Symbol with its six stylistic options: People, Transport, Objects, Signal, Elevators and Arrows.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm-double">
      <div class="g-row">
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text u-push-btm-half">
            <div class="embed embed-4:3">
              <svg class="i i-asap-people embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-people"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text u-push-btm-half">
            <div class="embed embed-4:3">
              <svg class="i i-asap-transport embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-transport"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text u-push-btm-half">
            <div class="embed embed-4:3">
              <svg class="i i-asap-object embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-object"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-signal embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-signal"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-elevator embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-elevator"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-4">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-arrow embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-arrow"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Process -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-ff-asap u-push-btm-half">Process</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Asap Condensed is an extension of the Asap font. Beyond the stylistic language Nicolás Silva and Pablo Cosgaya tried to maintain the width of the glyphs in a universal way, so each one would keep the same width throughout all the styles of the family.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
      <p class="asap-headline u-ff-asap u-fw-400 u-ta-center u-push-btm-none">
        All the styles share the same width
      </p>
      <p class="asap-headline u-ff-asap u-fw-500 u-ta-center u-push-btm-none">
        All the styles share the same width
      </p>
      <p class="asap-headline u-ff-asap u-fw-600 u-ta-center u-push-btm-none">
        All the styles share the same width
      </p>
      <p class="asap-headline u-ff-asap u-fw-700 u-ta-center u-push-btm-none">
        All the styles share the same width
      </p>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        This characteristic determines the design decisions and the planning for the development of Asap Condensed. The first step was to determine how condensed Asap could be, experimenting with different condensation values and verifying if the principle of width-consistency on all the glyphs throughout the family could be maintained without affecting the rhythm or their natural proportions on the different styles.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="asap-alphabet g g-6 u-ff-asap u-push-btm">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            {% include "modules/asap-alphabet.html" %}
          </div>
        </div>
        <div class="asap-alphabet g g-6 u-ff-asap u-fw-500 u-push-btm">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            {% include "modules/asap-alphabet.html" %}
          </div>
        </div>
        <div class="asap-alphabet g g-6 u-ff-asap u-fw-600">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            {% include "modules/asap-alphabet.html" %}
          </div>
        </div>
        <div class="asap-alphabet g g-6 u-ff-asap u-fw-700">
          <div class="u-padd-top-half u-border-top-solid u-border-top-1 u-border-top-asap-text">
            {% include "modules/asap-alphabet.html" %}
          </div>
        </div>
      </div> 
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        Differing from Ancha, the neo-grotesque type that gave birth to Asap, the finishing of Asap and Asap condensed are softened and rounded. Yet, instead of achieving this through a mechanic operation (‘rounded’ effect offered by different software), Nicolás and Pablo opted for applying this with their own criteria, applying it in a special way following the direction of the stroke and the finishes (vertical, horizontal, diagonal, curved). The aim was to achieve a soft finishing with a flattened curve, to avoid a geometric aspect that is produced by the ‘rounded’ effect.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6 u-push-btm u-push-btm-double@sm">
          <div class="u-padd-top-half u-padd-top@sm u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-terminal-a embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-terminal-a"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-6 u-push-btm u-push-btm-double@sm">
          <div class="u-padd-top-half u-padd-top@sm u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-terminal-g embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-terminal-g"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-6">
          <div class="u-padd-top-half u-padd-top@sm u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-terminal-l embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-terminal-l"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="g g-6">
          <div class="u-padd-top-half u-padd-top@sm u-border-top-solid u-border-top-1 u-border-top-asap-text">
            <div class="embed embed-4:3">
              <svg class="i i-asap-terminal-r embed_svg u-fill-text-asap">
                <use xlink:href="images/sprite.svg#asap-terminal-r"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm-double">
      <p class="u-ff-manuale u-push-btm-none">
        By condensing the signs Nicolás and Pablo had to adjust some that were presenting color difficulties (k, w, x, y, K, W, X, Y). At the same time, they were paying attention to the spacing of the vertical signs (on rounds and specially on italics) to keep compatibility on the width characteristics between variables.
      </p>
    </div>

    <!-- Applications -->

    <div class="l-container u-push-btm-double">
      <h3 class="u-ff-asap u-push-btm-half">Applications</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Nicolás and Pablo are interested on having Asap Condensed collaborating with Asap in cases where a column would need more efficiency or performance. This also applies to footnotes, highlighted copy and titles on projects typeset with Asap. They believe Asap has taken good advantage of its potential on sites, blogs and navigation features (menus and submenus). Having tabular numbers as a preset option makes its use on tables, reports and forms easier. Asap Condensed could also be a good option for news and advertising mobile apps.
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        Pablo and Nicolás are also interested in the possibility of combining Asap Condensed with other styles in printed and online publications (e.g. with more traditional typefaces used for copy/text, such as Andada, Droid or Faustina).
      </p>
    </div>

    <!-- Origins -->

    <div class="l-container u-push-btm-double">
      <h3 class="u-ff-asap u-push-btm-half">Origins</h3>
      <p class="u-ff-manuale u-push-btm-none">
        The main reason behind the development of Asap Condensed was to complement the Asap family (which already expanded its possibilities with the inclusion of the pictogram variable Asap Symbol) with a compatible style providing more efficiency and performance.
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        However, if you look in detail and compare Asap and Asap Condensed, you will realize that some signs change subtly in their structure. This is due to the fact that in Asap Condensed the narrowest width restricts the possibilities.
      </p>
    </div>

    {% set parameters = {'url': '#!', 'family': 'Asap-Condensed'} %}
    {% include "shared/google-fonts-code.html" %}

  </div>

</section>
