<section class="l-section">

  <div class="u-bg-faustina u-c-faustina u-padd-top u-padd-top-double@sm">

    <!-- Intro -->

    <div class="l-container u-push-btm-double">
      <h2 class="u-h1@sm u-ff-faustina u-push-btm-quarter">Faustina</h2>
      <h4 class="u-h6 u-ff-faustina u-push-btm-none">from Alfonso García</h4>
    </div>


    <!-- Variant -->

    <div class="u-push-btm u-push-btm-double@sm">
      <div class="l-container">
        <h3 class="u-ff-faustina u-h4 u-push-btm-half">Variants</h3>
        <p class="u-ff-faustina u-push-btm-none">
          Faustina offers a complete suite of eight styles (Regular, Medium, Semibold and Bold, plus Italics) that can be used for any language written in the Latin alphabet.
        </p>
      </div>
    </div>

    <div class="l-container l-container--lg u-relative">
      {% for item in faustina.latin %}
      <div class="u-border-top-1 u-border-top-faustina-text u-border-top-solid u-of-hide u-padd-top-half">
        <p class="u-ff-faustina u-fw-700 u-lh-1 u-tt-uppercase u-fz-sm u-push-btm-none">{{ item.label }}</p>
        <p class="faustina-headline u-ff-faustina u-push-btm u-pull-top-quarter@sm u-pull-top-half@md u-no-wrap {{ item.class }}">{{ item.text }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="u-push-btm u-push-btm-double@sm">
      <div class="l-container">
        <p class="u-ff-faustina u-push-btm-none">
          Following Robert Bringhurst’s classification scheme, Faustina could be considered <em>postmodern</em>. Its main features emerge as a dialogue between straight and curved shapes, conveying the rigor needed for editorial work without compromising elegance. This trait is best appreciated at sizes above 48pt.
        </p>
      </div>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="g-row">
        {% for terminal in faustina.terminals %}
        <div class="g g-6 g-3@md">
          <div class="u-border-top-1 u-border-top-faustina-text u-border-top-solid u-padd-top-half u-push-btm">
            <div class="embed embed-4:3">
              <svg class="i i-{{ terminal.name }} embed_svg u-fill-text-faustina">
                <use xlink:href="images/sprite.svg#{{ terminal.name }}"></use>
              </svg>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="u-push-btm u-push-btm-double@sm">
      <div class="l-container">
        <p class="u-ff-faustina u-push-btm-none">
          García’s principle aim with Fuastina was to optimize its spatial efficiency. As a result, this tyepeface excels in newspapers, where a great deal of content needs to fit into tight spaces with narrow columns and small leading. 
        </p>
        <p class="u-ff-faustina u-push-btm-none u-ti-double">
          Faustina combines strong, straight serifs with rounded terminals on letters like the lowercase a and c. Its proportions are slightly condensed, the o being closer to an ellipse than a circle, while the strong x-height and open counters were designed to work at small point sizes, even with low-quality paper and low-resolution screens.
        </p>
      </div>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="u-border-top-1 u-border-top-faustina-text u-border-top-solid u-of-hide u-padd-top-half@sm">
        <p class="faustina-headline faustina-headline--lines u-ff-faustina u-push-btm u-pull-top-quarter@sm u-pull-top@md u-no-wrap u-ta-center">xtlRegEhv</p>
      </div>
    </div>

    <div class="l-container u-push-btm-double">
      <p class="u-ff-faustina u-push-btm-none">
        The strong x-height and open counters were designed to work at small point sizes, even with low-quality paper and low-resolution screens.
      </p>
    </div>

    <!-- Process -->

    <div class="u-push-btm u-push-btm-double@sm">
      <div class="l-container">
        <h3 class="u-ff-faustina u-h4 u-push-btm-half">Process</h3>
        <p class="u-ff-faustina u-push-btm-none">
          Faustina was designed in two phases, beginning during García’s postgraduate work at the University of Buenos Aires and continuing through several years of refinement after his graduation. The overall design process involved a great deal of thought and reflection. Over time, García reworked countless details, redrew some features froms scratch, and carefully adjusted the spacing to create consistency and coherence throughout the Faustina family. 
        </p>
        <p class="u-ff-faustina u-push-btm-none u-ti-double">
          The first design stage included a basic Regular set of characters plus a few glyphs from other styles. Later, García continued by expanding the original Regular style and completed it with Bold and Italics for both styles. By the end of 2014, the Faustina family was ready for release with a set of four styles with 330 characters each.
        </p>
      </div>
    </div>

    <div class="l-container l-container--lg u-push-btm-half@sm">
      <div class="g-row">
        {% for item in faustina.chessboard %}
        <div class="g g-6 g-3@md">
          <div class="u-border-top-1 u-border-top-faustina-text u-border-top-solid u-padd-top-half u-push-btm">
            <p class="u-ff-faustina u-fw-700 u-lh-1 u-fz-sm u-push-btm-none">{{ item.weight }}{% if item.style == 'italic' %}<span class="u-fs-italic">i</span>{% endif %}</p>
            <p class="u-ff-faustina u-h1 u-fw-{{ item.weight }} {% if item.style == 'italic' %}u-fs-italic{% endif %} u-push-btm-none">Abc</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="u-push-btm-double">
      <div class="l-container">
        <p class="u-ff-faustina u-push-btm-none">
          Development of Faustina later continued at Omnibus-Type. The original family doubled its character count and added two more weight variations. As a result, Faustina became a complete suite of eight styles (Regular, Medium, Semibold and Bold, plus Italics) suitable for use in any language written in the Latin alphabet.
        </p>
      </div>
    </div>
    
    {% set parameters = {'url': '#!', 'family': 'Faustina', axes: {
      wght: { min: 50, max: 150, step: 0.25 }
    } } %}

    <!-- Variable -->
    {% include "shared/variable.html" %}

    <!-- Applications -->

    <div class="u-padd-btm-double">
      <div class="l-container">
        <h3 class="u-ff-faustina u-h4 u-push-btm-half">Applications</h3>
        <p class="u-ff-faustina u-push-btm-none">
          Faustina was designed for editorial use, specifically for printed newspapers, but it also  performs well in editorial uses or on digital displays. García finds that Faustina works especially well in combination with Ruda. They both have large x-heights and a similar balance in their shapes and counters.
        </p>
      </div>
    </div>

    <!-- Origins -->

    <div class="u-push-btm-double">
      <div class="l-container">
        <h3 class="u-ff-faustina u-h4 u-push-btm-half">Origins</h3>
        <p class="u-ff-faustina u-push-btm-none">
          The idea for Faustina initially emerged from García's reading of the type designer Victor Gaultney, who presented the challenge of creating a space-efficient typefaces for editorial use. The typeface has to convey the classic characteristics of newspaper type while maintaining legibility at small sizes.
        </p>
      </div>
    </div>
    <div class="u-push-btm-double">
      <div class="l-container">
        <h3 class="u-ff-faustina u-h4 u-push-btm-half">Acknowledgments</h3>
        <p class="u-ff-faustina u-push-btm-none">
          Alfonso García is very thankful to Rubén Fontana, Pablo Cosgaya, and the professors of Type Design at the University of Buenos Aires for their guidance and advice.
        </p>
      </div>
    </div>
    
    {% include "shared/column-footer.html" %}

  </div>

</section>
