<section class="l-section">

  <div class="u-bg-faustina u-c-faustina u-padd-top u-padd-top-double@sm">

    <!-- Intro -->

    <div class="l-container u-push-btm-double u-push-btm-triple@sm">
      <h2 class="u-h1@sm u-ff-faustina u-push-btm-quarter">Faustina</h2>
      <h3 class="u-h5 u-h4@sm u-ff-faustina u-push-btm-none">from Alfonso García</h3>
    </div>


    <!-- Variant -->

    <div class="u-push-btm u-push-btm-double@sm">
      <div class="l-container">
        <div class="g-row">
          <div class="g g-6@sm">
            <h3 class="u-ff-faustina u-h2@sm u-push-btm-half">Variants</h3>
          </div>
          <div class="g g-6@sm">
            <p class="u-ff-faustina u-push-btm-none">
              Faustina is a complete suite of 8 styles (Regular, Medium, Semibold and Bold, plus Italics) that can be used for all the languages written in the Latin alphabet.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-relative">
      {% for item in faustina.latin %}
      <div class="u-border-top-1 u-border-top-faustina u-border-top-solid u-of-hide u-padd-top-half">
        <p class="u-ff-faustina u-fw-700 u-lh-1 u-tt-uppercase u-fz-sm u-push-btm-none u-fill-faustina">{{ item.label }}</p>
        <p class="faustina-headline u-ff-faustina u-push-btm u-pull-top-quarter@sm u-pull-top-half@md u-no-wrap {{ item.class }} u-fill-faustina">{{ item.text }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="u-push-btm u-push-btm-double@sm">
      <div class="l-container">
        <div class="g-row">
          <div class="g g-6@sm g-push-6@sm">
            <p class="u-ff-faustina u-push-btm-none">
              Following Robert Bringhurst’s classification, Faustina could be considered a postmodern typeface. Its main feature resides in the dialogue between straight and curved shapes that convey the necessary rigor for editorial use without compromising elegance, a trait better appreciated on sizes over 48pt.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm@sm">
      <div class="g-row">
        {% for terminal in faustina.terminals %}
        <div class="g g-6 g-3@md">
          <div class="u-border-top-1 u-border-top-faustina u-border-top-solid u-padd-top-half u-push-btm">
            <div class="embed embed-4:3">
              <svg class="i i-{{ terminal.name }} embed_svg u-fill-faustina">
                <use xlink:href="images/sprite.svg#{{ terminal.name }}"></use>
              </svg>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="u-push-btm u-push-btm-double@sm">
      <div class="l-container">
        <div class="g-row">
          <div class="g g-6@sm g-push-6@sm">
            <p class="u-ff-faustina u-push-btm-none">
              All García’s decisions were aimed at optimizing space efficiency: Faustina was designed to be used in newspapers, where there is little space for a lot of content, but also narrow columns and small leading, strong straight serifs combine with rounded terminals, as can be seen on lowercase ‘a’ and ‘c’. Proportions are slightly condensed, the ‘o’ being closer to an ellipse than a circle.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm@sm">
      <div class="u-border-top-1 u-border-top-faustina u-border-top-solid u-of-hide u-padd-top-half@sm" style="width: 100%">
        <p class="faustina-headline faustina-headline--lines u-ta-center u-ff-faustina u-push-btm u-pull-top-quarter@sm u-pull-top@md u-no-wrap u-fill-faustina fit u-padd-lft-quarter u-padd-lft-half@sm">xtlRegEhv</p>
      </div>
    </div>

    <div class="l-container u-push-btm-double">
      <div class="g-row">
        <div class="g g-6@sm g-push-6@sm">
          <p class="u-ff-faustina u-push-btm-none">
            The strong x-height and open counters were designed to work in small sizes, with bad quality paper and low-resolution screens in mind.
          </p>
        </div>
      </div>
    </div>

    <!-- Process -->

    <div class="u-push-btm u-push-btm-double@sm">
      <div class="l-container">
        <div class="g-row">
          <div class="g g-6@sm">
            <h3 class="u-ff-faustina u-h2@sm u-push-btm-half">Process</h3>
          </div>
          <div class="g g-6@sm">
            <p class="u-ff-faustina u-push-btm-none">
              The creative process can be divided into two phases, the postgraduate course and the subsequent development. Alfonso García is very thankful to Rubén Fontana, Pablo Cosgaya and all the professors for their guidance and advice. According to García creating a typeface involves a great deal of thinking, drawing and spacing lots of characters that need to maintain a consistent relation.  He learned this only after redoing and changing so many finished things because they weren’t coherent or had more peculiarities than necessary. 
            </p>
            <p class="u-ff-faustina u-push-btm-none u-ti">
              The academic stage included a basic Regular set plus a few characters of other styles. Once this was finished, the process continued by expanding the original Regular and completing it with Bold plus Italics for both styles. By the end of 2014 García had presented to Omnibus-Type the full Faustina family as a set of 4 styles with 330 characters each.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm-half@sm">
      <div class="g-row">
        {% for item in faustina.chessboard %}
        <div class="g g-6 g-3@md">
          <div class="u-border-top-1 u-border-top-faustina u-border-top-solid u-padd-top-half u-push-btm">
            <p class="u-ff-faustina u-fw-700 u-lh-1 u-fz-sm u-push-btm-none u-fill-faustina">{{ item.weight }}{% if item.style == 'italic' %}<span class="u-fs-italic">i</span>{% endif %}</p>
            <p class="u-ff-faustina u-h1 u-fw-{{ item.weight }} {% if item.style == 'italic' %}u-fs-italic{% endif %} u-push-btm-none u-fill-faustina">Abc</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="u-push-btm-double">
      <div class="l-container">
        <div class="g-row">
          <div class="g g-6@sm g-push-6@sm">
            <p class="u-ff-faustina u-push-btm-none">
              At Omnibus-Type, the original family doubled in character set and two more weight variations were developed, making Faustina a complete suite of 8 styles (Regular, Medium, Semibold and Bold, plus Italics), suitable for use in all languages written in the Latin alphabet.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Applications -->

    <div class="u-padd-btm-double">
      <div class="l-container">
        <div class="g-row">
          <div class="g g-6@sm">
            <h3 class="u-ff-faustina u-h2@sm u-push-btm-half">Applications</h3>
          </div>
          <div class="g g-6@sm">
            <p class="u-ff-faustina u-push-btm-none">
              Faustina was designed for editorial use, specifically for printed newspapers, but this doesn’t mean that it won’t perform well for other editorial uses or on digital displays. A combination García tried and really liked was Faustina with Ruda. They both have large x-heights and a similar counter/shape balance.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Origins -->

    <div class="u-push-btm-double">
      <div class="l-container">
        <div class="g-row">
          <div class="g g-6@sm">
            <h3 class="u-ff-faustina u-h2@sm u-push-btm-half">Origins</h3>
          </div>
          <div class="g g-6@sm">
            <p class="u-ff-faustina u-push-btm-none">
              Faustina was the final project Alfonso García did in order to complete his Specialization in Type Design (CDT-UBA, today MT-UBA Master’s Degree). The initial kickoff was a text by typeface designer Victor Gaultney that presented the challenge of creating a space-efficient typeface for editorial use. This typeface had to maintain the classic characteristics of a newspaper typeface while preserving good legibility on small sizes.
            </p>
          </div>
        </div>
      </div>
    </div>
    
    {% set parameters = {'url': '#!', 'family': 'Faustina'} %}
    {% include "shared/column-footer.html" %}

  </div>

</section>
