<section class="l-section">

  <div class="u-padd-top u-padd-top-double@sm u-bg-manuale u-c-manuale">

    <!-- Intro -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h2 class="u-h1@sm u-ff-manuale u-push-btm-quarter">Manuale</h2>
      <h3 class="u-h6 u-ff-manuale u-fw-700">from Pablo Cosgaya and&nbsp;<br class="u-d-none@sm">Eduardo Tunni</h3>
    </div>

    <!-- Variants -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-h4 u-ff-manuale u-push-btm-half">Variants</h3>
      <p class="u-ff-manuale u-push-btm-none">
        After designing the initial letterforms for Manuale, the next stage of our work consisted of designing 256-character sets for the the family's four basic styles (Regular, Italic, Bold and Bold Italic).
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="u-padd-top-threeQuarter u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
        <p class="manuale-alphabet u-ff-manuale u-h5 u-h4@xs u-h3@sm u-h2@md u-lh-13 u-fw-400 u-push-btm-none u-pull-horz-quarter u-pull-horz-half@sm u-pull-horz@lg">
          {% include "modules/manuale-alphabet.html" %}
        </p>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        By the end of 2014, we had expanded the sets to over 700 characters to make Manuale suitable for the full, extended Latin alphabet. We also designed it in two intermediate weights to comply with the specific visual demands of print and screen display. The result was a complete suite of eight styles (Regular, Medium, Semibold and Bold, plus Italics).
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="g-row">
        <div class="g g-12 g-6@md">
          <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-h1@lg u-push-btm-none u-fw-400"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">400</span>Regular</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-h1@lg u-push-btm-none u-fw-400 u-fs-italic"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">400</span>Italic</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-h1@lg u-push-btm-none u-fw-500"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">500</span>Medium</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-h1@lg u-push-btm-none u-fw-500 u-fs-italic"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">500</span>Medium Italic</p>
          </div>
        </div>
        <div class="g g-12 g-6@md">
          <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-h1@lg u-push-btm-none u-fw-600"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">600</span>Semibold</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-h1@lg u-push-btm-none u-fw-600 u-fs-italic"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">600</span>Semibold Italic</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-h1@lg u-push-btm-none u-fw-700"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">700</span>Bold</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-h1@lg u-push-btm-none u-fw-700 u-fs-italic"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">700</span>Bold Italic</p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        Given its high stroke contrast, Manuale could be considered a transitional typeface. Its main features are sharp, upright serifs. Together with its flat curves, Manuale creates the appearance of compressed, rectangular words, ideal for editorial use. Manuale favors small leading due to its large x-height with short ascenders and descenders. This saves vertical space while remaining comfortable to read in extended sessions.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm-double u-no-wrap">
      <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
        <p class="u-d-ibl u-ff-manuale u-fz-sm u-fw-700 u-tt-uppercase u-push-rgt-half u-push-btm-none">Large x-height</p>
        <p class="manuale-ascendants u-d-ibl u-ff-manuale u-fw-700 u-ta-center u-padd-lft-half">xtlRegEhv</p>
      </div>
    </div>

    <!-- Process -->
  
    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-h4 u-ff-manuale u-push-btm-half">Process</h3>
      <p class="u-ff-manuale u-push-btm-none">
        For the purpose of stylistic definition, we hand sketched the initial characters, respecting many characteristics of the old book type that inspired Manuale. Our aim was to preserve its sharp and metallic appearance while refining the baseline, proportions, spacing, and terminals. Once we had determined the typographic color of each style, the project was expanded into a complete suite of eight styles (Regular, Medium, Bold, and Semibold plus Italics).
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        Manuale's greatest departure from its source material can be seen in the Italics. We wanted these to be more mechanical and less ornamental than the ones in the original printing. We achieved this effect by redrawing a condensed and inclined version of the Regular style.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
        <p class="u-h2 u-h1@md u-ff-manuale u-fs-italic u-push-btm-none">
          <span class="u-ff-manuale u-fz-sm u-push-rgt-half u-fw-700 u-tt-uppercase u-fs-regular">Italic</span><span class="u-fw-400">Condensed</span> <span class=u-fw-500>and inclined</span> <span class="u-fw-600">version of</span> <span class="u-fw-700">regular style</span>
        </p>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        Our creative process could be divided into three stages. First, we developed exploratory hand-drawn sketches in order to find the distinct features of the original print specimen to include our design. The key decision was whether to do a historical revival (with irregular structures, coarse stroke, uneven baseline, and weight variations) or a contemporary interpretation. We settled on the latter approach. After establishing proportions for an editorial typeface, we moved on to the concrete task of digital drawing. As we defined the font’s spacing, we performed frequent tests of typesetting and readability.
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        With Manuale, our goal has been efficiency of space without compromising the body size of the typeface. In addition to its compact verticals, Manuale achieves a high level of compression that is hardly noticeable due to its flat curves.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="g-row">
        {% for terminal in manuale.terminals %}
        <div class="g g-6">
          <div class="u-padd-top-quarter u-padd-top-half@sm u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
            <span class="u-ff-manuale u-fz-sm u-fw-700 u-tt-uppercase">{{ terminal.weight }}</span>
            <div class="embed embed-4:3">
              <svg class="i i-{{ terminal.name }} embed_svg u-fill-text-faustina">
                <use xlink:href="images/sprite.svg#{{ terminal.name }}"></use>
              </svg>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        One of our main concerns in designing Manuale was to maintain the proportion between uppercase letters and ascenders. The challenge was to produce distinguished and important capital letters, in spite of being of moderate height. We gave priority to the uppercase numbers, making these the default, but also provided alternative access to the old-style numerals (lowercase or proportional figures.)
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
        <p class="u-ff-manuale u-h2 u-h1@sm u-push-btm-none u-fw-400 u-no-wrap"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular u-tt-uppercase">Lining figures</span>0 1 2 3 4 5 6 7 8 9</p>
        <p class="u-ff-manuale u-h2 u-h1@sm u-push-btm-none u-fw-400 u-ot-onum u-no-wrap"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular u-tt-uppercase">Oldstyle figures</span>0 1 2 3 4 5 6 7 8 9</p>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        Over time, we developed a great attachment to Manuale. When we tested the performance of the typeface in the composition of texts in Guaraní language, we focused special attention on the accented characters (including the “Saltillo” or “Pusó”), and the alternative structures of the letters y, e, and Y, that distinguish their use as vowels or consonants.
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        As we defined the typographic color of the regular style, we tested lean stroke weights and developed a Light style that was eventually discarded. Nevertheless, Manuale Light could be revised, adjusted, and eventually published in the future. 
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        The italic y required some interesting design accommodations. Initially, it had a classic tail that made it look too slanted in text settings. After trying many options, we settled on the current letterform, which balances the rhythm of lowercase descenders through the inclusion of six different varieties: three soft descenders and three tough ones.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="u-border-top-1 u-border-top-black u-border-top-solid">
        <div class="u-pull-top-double@md">
          <p class="u-d-ibl u-ff-manuale u-fz-sm u-fw-700 u-tt-uppercase u-push-rgt-half u-push-btm-none">Italic Y</p>
          <p class="manuale-design u-d-ibl u-ff-manuale u-push-btm-none u-fs-italic u-pull-top@sm u-pull-top-none@md"><span>y</span><span class="u-fw-500">y</span><span class="u-fw-600">y</span><span class="u-fw-700">y</span></p>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        The letter r also presented a unique dilemma. Although we were fond of the original letterform as it appeared in print, we concluded that it would be distracting for readers to see this letterform onscreen.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm-double">
      <div class="u-border-top-1 u-border-top-black u-border-top-solid">
        <div class="u-pull-top-double@md">
          <p class="u-d-ibl u-ff-manuale u-fz-sm u-fw-700 u-tt-uppercase u-push-rgt-half u-push-btm-none">Lowercase R</p>
          <p class="manuale-design u-d-ibl u-ff-manuale u-push-btm-none u-pull-top@sm u-pull-top-none@md"><span>r</span><span class="u-fw-500">r</span><span class="u-fw-600">r</span><span class="u-fw-700">r</span></p>
        </div>
      </div>
    </div>
    
    {% set parameters = {'url': '#!', 'family': 'Manuale'} %}

    <!-- Variable -->
    {% include "shared/variable.html" %}

    <!-- Applications -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-h4 u-ff-manuale u-push-btm-half">Applications</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Although we originally envisioned Manuale being used for online editorial projects (books, magazines, newspapers, blogs), it also performs well in print. The letters excel in newspapers and magazine spreads, set on narrow columns with solid leading, as well as elegant headlines on flyers and brochures.
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        For texts set in Manuale, consider composing headlines in the many styles of Saira. Both families have sharp forms and slightly rectangular structures. For the best results in extended text settings, try reducing the size of Saira in order to optically adjust its x-height (510) to Manuale’s (491).
      </p>
    </div>

    <!-- Origins -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-h4 u-ff-manuale u-push-btm-half">Origins</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Manuale is a contemporary interpretation of the type used in the <em>Manuale ad usum Patrum Societatis Iesu</em>, the first book ever printed in the territory that would become Argentina. The original was printed in a small format, just 3.6 by 5.2 inches, using type designed by the Jesuit priest Paulo Restivo. The text was composed in both Latin and Guaraní using gorda type, a historical Spanish measure equivalent to 14pt.
      </p>
    </div>

    {% include "shared/column-footer.html" %}

  </div>

</section>
