<section class="l-section">

  <div class="u-padd-top u-padd-top-double@sm u-bg-manuale u-c-manuale">

    <!-- Intro -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h2 class="u-h1@sm u-ff-manuale u-push-btm-quarter">Manuale</h2>
      <h3 class="u-h6 u-ff-manuale u-fw-700">from Pablo Cosgaya and&nbsp;<br class="u-d-none@sm">Eduardo Tunni</h3>
    </div>

    <!-- Variants -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-h4 u-ff-manuale u-push-btm-half">Variants</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Once the initial letterforms were designed, the final stage consisted in completing 256 character sets for the Regular, Italic, Bold and Bold Italic styles.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
        <p class="manuale-alphabet u-ff-manuale u-h4 u-h3@sm u-h2@md u-lh-13 u-fw-400 u-push-btm-none">
          {% include "modules/manuale-alphabet.html" %}
        </p>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        By the end of 2014, Eduardo and Pablo expanded the sets to over 700 characters to make Manuale suitable for use in all languages written with the Latin alphabet, and designed two intermediate weights to comply with the different reproduction needs for printing and screen display. The result was the complete suite of 8 styles: Regular, Medium, Semibold and Bold, plus Italics.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="g-row">
        <div class="g g-12 g-6@md">
          <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-push-btm-none u-fw-400"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">400</span>Regular</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-push-btm-none u-fw-400 u-fs-italic"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">400</span>Italic</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-push-btm-none u-fw-500"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">500</span>Medium</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-push-btm-none u-fw-500 u-fs-italic"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">500</span>Medium Italic</p>
          </div>
        </div>
        <div class="g g-12 g-6@md">
          <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-push-btm-none u-fw-600"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">600</span>Semibold</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-push-btm-none u-fw-600 u-fs-italic"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">600</span>Semibold Italic</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-push-btm-none u-fw-700"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">700</span>Bold</p>
            <p class="u-ff-manuale u-h3 u-h2@xs u-h1@sm u-h2@md u-push-btm-none u-fw-700 u-fs-italic"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular">700</span>Bold Italic</p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        By virtue of its stroke contrast, Manuale could be considered a transitional typeface. Its main features are the sharp and upright serifs that, together with its flat curves, compose compressed words of rectangular appearance, ideal for editorial use. The large x-height with short ascenders and descenders favors small leading, saving vertical space while remaining comfortable to read in extended text settings.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm-double u-pull-top-half u-no-wrap">
      <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
        <p class="u-d-ibl u-ff-manuale u-fz-sm u-fw-700 u-tt-uppercase u-push-rgt-half u-push-btm-none">Large x-height</p>
        <p class="manuale-ascendants u-d-ibl u-ff-manuale u-fw-700 u-ta-center u-padd-lft-half">xtlRegEhv</p>
      </div>
    </div>

    <!-- Process -->
  
    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-h4 u-ff-manuale u-push-btm-half">Process</h3>
      <p class="u-ff-manuale u-push-btm-none">
        For the purpose of stylistic definition, the initial characters were hand sketched, respecting many characteristics of the original printing. Eduardo Tunni and Pablo Cosgaya tried to preserve the sharp and metallic appearance of the typography of the «Manuale», while adjusting the baseline, proportions, spacing and terminals.
        The typographic color of each style was defined, and the project was then expanded into a complete suite of 4 weight styles plus italics.
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        They wanted Manuale’s italics to be more mechanical and less ornamental than the ones in the original printing. They achieved this by redrawing a condensed and inclined version of regular style.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm u-pull-top-half">
      <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
        <p class="u-h2 u-h1@md u-ff-manuale u-ta-center u-fs-italic u-no-wrap u-push-btm-none">
          <span class="u-ff-manuale u-fz-sm u-push-rgt-half u-fw-700 u-tt-uppercase u-fs-regular">Italic</span><span class="u-fw-400">Condensed</span> <span class=u-fw-500>and inclined</span> <span class="u-fw-600">version of</span> <span class="u-fw-700">regular style</span>
        </p>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        The process was divided into three stages. First they developed exploratory hand-drawn sketches in order to define the interpretation criterion of the referred printing; i.e. whether we were going to do a historical revival (with irregular structures, coarse stroke, uneven baseline and weight variations) or a contemporary interpretation. After these initial explorations, they decided on the second option. After establishing the suited proportions for an editorial typeface, they continued to the concrete digital drawing. They performed typesetting and readability tests while defining the font’s spacing.
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        The type designers’ goal was to achieve space efficiency without compromising the body size of the typesetting. For this purpose, in addition to its compacted verticals, Manuale displays a considerable compression that is well dissimulated by its flat curves.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="g-row">
        {% for terminal in manuale.terminals %}
        <div class="g g-6">
          <div class="u-padd-top-quarter u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
            <span class="u-ff-manuale u-fz-sm u-fw-700 u-tt-uppercase">{{ terminal.weight }}</span>
            <div class="embed embed-4:3">
              <svg class="i i-{{ terminal.name }} embed_svg u-fill-text-faustina">
                <use xlink:href="images/sprite.svg#{{ terminal.name }}"></use>
              </svg>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        One of the main concerns designing Manuale was to maintain good proportions between the uppercase letters and ascenders. The challenge was to produce distinguished and important capital letters, in spite of being of moderate height. Eduardo and Pablo found convenient to give priority to the uppercase numbers, making these the default option, and provide alternative access to the old-style numerals (also known as lowercase or proportional figures).
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm">
        <p class="u-ff-manuale u-h2 u-h1@md u-push-btm-none u-fw-400 u-no-wrap"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular u-tt-uppercase">Lining figures</span>0 1 2 3 4 5 6 7 8 9</p>
        <p class="u-ff-manuale u-h2 u-h1@md u-push-btm-none u-fw-400 u-ot-onum u-no-wrap"><span class="u-fz-sm u-push-rgt-half u-fw-700 u-fs-regular u-tt-uppercase">Oldstyle figures</span>0 1 2 3 4 5 6 7 8 9</p>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        On account of the attachment they developed toward the «Manuale», they tested the performance of the typeface in the composition of texts in Guaraní language, specifically the accentuation characters (including the “Saltillo” or “Pusó”), and the alternative structures of the letters ‘y’, ‘e’ and ‘Y’, that separate their use as vowels or consonants in this language.
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        As defining the color of the regular style the two type designers tested very lean stroke weights and attained a light style that —even though discarded at the time— could be revised, adjusted, and eventually published in the future. 
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        The design of the italic “y” was interesting. Initially, it had a classic tail that made it look too slanted in text settings, so after trying many options Eduardo and Pablo decided on the current letterform, that they believe works well and balances the rhythm of lowercase descenders (there are three soft ones and three tough ones).
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm u-push-btm-double@sm">
      <div class="u-border-top-1 u-border-top-black u-border-top-solid">
        <div class="u-pull-top-double@md">
          <p class="u-d-ibl u-ff-manuale u-fz-sm u-fw-700 u-tt-uppercase u-push-rgt-half u-push-btm-none">Italic Y</p>
          <p class="manuale-design u-d-ibl u-ff-manuale u-push-btm-none u-fs-italic"><span>y</span><span class="u-fw-500">y</span><span class="u-fw-600">y</span><span class="u-fw-700">y</span></p>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-manuale u-push-btm-none">
        The letter ‘r’ also had a particular process. Eduardo and Pablo were very fond of its original singular shape on print, but then they had to change it with the current one because it would distract readers.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm-double">
      <div class="u-border-top-1 u-border-top-black u-border-top-solid">
        <div class="u-pull-top-double@md">
          <p class="u-d-ibl u-ff-manuale u-fz-sm u-fw-700 u-tt-uppercase u-push-rgt-half u-push-btm-none">Lowercase R</p>
          <p class="manuale-design u-d-ibl u-ff-manuale u-push-btm-none"><span>r</span><span class="u-fw-500">r</span><span class="u-fw-600">r</span><span class="u-fw-700">r</span></p>
        </div>
      </div>
    </div>

    <!-- Applications -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-h4 u-ff-manuale u-push-btm-half">Applications</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Manuale was envisioned for use on online editorial projects (books, magazines, newspapers, blogs), although this doesn’t mean it couldn’t also perform very well on print. Eduardo and Pablo envision it on newspapers and magazine spreads, set on narrow columns with solid leading, and also composing elegant headlines on flyers and brochures.
      </p>
      <p class="u-ff-manuale u-push-btm-none u-ti-double">
        A very suitable match for texts set in Manuale could be headlines composed in the many styles of Saira, since both families present sharp forms and slightly rectangular structures. For a better result combining them in extended text settings, Eduardo and Pablo suggest reducing the size of Saira in order to optically adjust its x-height (510) to Manuale’s (491).
      </p>
    </div>

    <!-- Origins -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-h4 u-ff-manuale u-push-btm-half">Origins</h3>
      <p class="u-ff-manuale u-push-btm-none">
        Manuale was inspired by the first printings ever made on Argentinian territory. It’s actually a contemporary interpretation of the typeface used in the production of the «Manuale ad usum Patrum Societatis Iesu», a volume of 3.6 x 5.2in composed in Latin and Guaraní using ‘gorda’ type (a historical Spanish measure equivalent to 14pt) by the father Paulo Restivo at the Loreto Jesuitical Mission in the year 1721.
      </p>
    </div>

    {% set parameters = {'url': '#!', 'family': 'Manuale'} %}
    {% include "shared/google-fonts-code.html" %}

  </div>

</section>
