<section class="l-section l-section--lg">
  <div class="u-padd-top u-padd-top-double@sm u-bg-saira u-c-saira">

    <!-- Intro -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h2 class="u-h1@sm u-push-btm-quarter u-ff-saira u-fw-700">Saira</h2>
      <h3 class="u-h6 u-lh-1 u-push-btm-none u-ff-saira-semicond u-fw-700">from Héctor Gatti</h3>
    </div>

    <!-- Variants -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-ff-saira-extracond u-push-btm-half">Variants</h3>
      <p class="u-ff-faustina u-push-btm-none">
        Saira is a family of fonts in nine weights (Thin, Extralight, Light, Regular, Medium, Semibold, Bold, Extrabold, Black) and four widths (Normal, Semicondensed, Condensed, Extracondensed). The result is a versatile super-family of 36 styles in total, with 780 characters each.
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="saira-chessboard u-padd-top-half u-padd-top-threeQuarter@md u-border-top-1 u-border-top-black u-border-top-solid">
        <div class="u-pull-horz-quarter u-pull-horz@sm">
          <div class="g-row">
            {% for item in saira.chessboard %}
              <div class="g g-3">
                <p class="{{ item.class }} u-ta-center u-tt-uppercase u-push-btm-half">a</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-faustina u-push-btm-none">
        Saira shares features of the neo-grotesque and geometric classes of type. Its geometric features include an underlying rectangular shape reminiscent of Eurostile (Aldo Novarese), DIN (Albert-Jan Pool), and Exo (Natanael Gama). Meanwhile, Saira’s simplified, open letterforms draw comparison to neo-grotesque fonts like Frutiger (Adrian Frutiger). Currently, Saira has no italics, but these may be included in a future expansion. 
      </p>
      <p class="u-ff-faustina u-push-btm-none u-ti-double">
        Saira’s alternates are selected in stylistic options using the OpenType feature of your design software. Some characters offer stylistic alternates in every style (A, G, R, 6, and 9).
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="u-padd-top-half u-padd-top-quarter@sm u-border-top-1 u-border-top-black u-border-top-solid">
        <p class="saira-headline u-ta-center u-push-btm-none u-d-none u-d-blk@md">
          <span class="u-d-ibl u-ff-saira-extracond u-fw-100">A</span><span class="u-d-ibl u-ff-saira-extracond u-fw-100 u-ot-salt">A</span><span class="u-d-ibl u-ff-saira-cond u-fw-300">G</span><span class="u-d-ibl u-ff-saira-cond u-fw-300 u-ot-salt">G</span><span class="u-d-ibl u-ff-saira-semicond u-fw-500">R</span><span class="u-d-ibl u-ff-saira-semicond u-fw-500 u-ot-salt">R</span><span class="u-d-ibl u-ff-saira u-fw-700">6</span><span class="u-d-ibl u-ff-saira u-fw-700 u-ot-salt">6</span><span class="u-d-ibl u-ff-saira u-fw-900">9</span><span class="u-d-ibl u-ff-saira u-fw-900 u-ot-salt">9</span>
        </p>
        <div class="saira-stylistic u-d-none@md u-pull-top-half u-pull-top-none@sm">
          <svg class="i i-saira-stylistic u-fill-text-saira">
            <use xlink:href="images/sprite.svg#saira-stylistic"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-faustina u-push-btm-none">
        As the styles compress and become heavier, some characters (like the Q, Ø, ø, ¢, $, and ¥) required us to focus on stroke performance across the letter’s counter. The challenge was to determine when to give these characters a simplified structure.
      </p>
    </div>

    <div class="l-container l-container--lg u-padd-btm-half u-push-btm@sm">
      <div class="u-padd-top-quarter u-border-top-1 u-border-top-black u-border-top-solid">
        <p class="saira-headline u-ta-center u-push-btm-none">
          <span class="u-d-ibl u-ff-saira-extracond u-fw-100">$</span><span class="u-d-ibl u-ff-saira-extracond u-fw-100 u-ot-salt">$</span><span class="u-d-ibl u-ff-saira-cond u-fw-300">$</span><span class="u-d-ibl u-ff-saira-cond u-fw-300 u-ot-salt">$</span><span class="u-d-ibl u-ff-saira-semicond u-fw-500">$</span><span class="u-d-ibl u-ff-saira-semicond u-fw-500 u-ot-salt">$</span><span class="u-d-ibl u-ff-saira u-fw-700">$</span><span class="u-d-ibl u-ff-saira u-fw-700 u-ot-salt">$</span><span class="u-d-ibl u-ff-saira u-fw-900">$</span><span class="u-d-ibl u-ff-saira u-fw-900 u-ot-salt">$</span>
        </p>
      </div>
    </div>

    <div class="l-container u-push-btm-double">
      <p class="u-ff-faustina u-push-btm-none u-ti-double">
        Saira was designed as a super-family ideal for use in headlines and short text snippets. This was the purpose behind the flattened curves that allow the composition of compacted words. The simple and open shapes of this family call to mind science, industry, engineering, and automotive machinery. Its design conveys the values of modernity, velocity, and simplicity.
      </p>
    </div>

    <!-- Process -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h3 class="u-ff-saira-extracond u-push-btm-half">Process</h3>
      <p class="u-ff-faustina u-push-btm-none">
        Initially, Saira had seven weights, but even during the first design phase we contemplated five expansion styles. As the project moved forward, I realized that the font worked very well in headlines and decided, as a result, that the expansion set would only need four styles (Normal, Semicondensed, Condensed, and Extracondensed).
      </p>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm-half">
        {% for style in saira.styles %}
          <p class="saira-headline {{ style.class }} u-ta-center u-push-btm-quarter u-push-btm-half@sm">{{ style.text }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <p class="u-ff-faustina u-push-btm-none">
        For the development of the full family, I simultaneously drew the three extreme weight styles in two width ranges (Thin, Regular, Black, Extracondensed Thin, Extracondensed, Extracondensed, and Black).
      </p>
    </div>
  
    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="u-padd-top-half u-border-top-1 u-border-top-black u-border-top-solid u-push-btm-quarter">
        <div class="g-row">
          {% for width in saira.widths %}
            <div class="g g-12 g-6@sm g-4@md">
              <p class="u-h3 {{ width.class }} u-ta-center u-push-btm-quarter u-push-btm-half@md">{{ width.text }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm-double">
      <p class="u-ff-faustina u-push-btm-none">
        To complete the project, the Omnibus-Type team finalized the character set for each master, programmed the interpolation of intermediate weights, revised and adjusted the preliminary results, then produced the final version.
      </p>
      <p class="u-ff-faustina u-push-btm-none u-ti-double">
        When developing a typeface in so many styles, it is necessary to organize its components so that the suite will be easy to use. To this end, post-production of Saira included testing and adjustments to the naming of the styles and their arrangement in the dropdown menu.
      </p>
      <p class="u-ff-faustina u-push-btm-none u-ti-double">
        Since Saira was envisioned, planned, and developed with digital displays in mind, the team conducted its work without using any hand-drawn sketches for reference. The design was conceived entirely onscreen.
      </p>
    </div>

    <!-- Applications -->

    <div class="l-container u-push-btm-double">
      <h3 class="u-ff-saira-extracond u-push-btm-half">Applications</h3>
      <p class="u-ff-faustina">
        Saira was designed for editorial use in magazines and newspapers, whether digital or print. Still, it works well in many other scenarios, like advertising, corporate design, packaging, and signage. For editorial use, Saira can be matched with other fonts from the Omnibus collection, like Faustina or Manuale. Moreover, the geometry and simplicity of Saira could be nicely combined with the sensitive and humane stroke of Delius.
      </p>
    </div>

    <!-- Origins -->

    <div class="l-container u-push-btm-double">
      <h3 class="u-ff-saira-extracond u-push-btm-half">Origins</h3>
      <p class="u-ff-faustina u-push-btm-none">
        Héctor Gatti found his inspiration for this typeface in the square grid of his hometown, Saira, Argentina. The design reflects the spirit of the town’s founders, hardworking and clever blacksmiths who invented machinery to work the fields of the surrounding land.
      </p>
      <p class="u-ff-faustina u-push-btm-none u-ti-double">
        Saira combines creative and industrial qualities. It is both sensitive and efficient, balancing geometric forms with open space, flat curves, and a few whimsical details.
      </p>
    </div>

    {% set parameters = {'url': '#!', 'family': 'Saira'} %}
    {% include "shared/column-footer.html" %}

  </div>

</section>
