<section class="l-section l-section--lg">
  <div class="u-padd-top u-padd-top-double@sm u-bg-saira u-c-saira">

    <!-- Intro -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <h2 class="u-h1@sm u-push-btm-quarter u-ff-saira u-fw-700">Saira</h2>
      <h3 class="u-h6 u-lh-1 u-push-btm-none u-ff-saira-semicond u-fw-700">from Héctor Gatti</h3>
    </div>

    <!-- Variants -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-12 g-6@sm">
          <h3 class="u-ff-saira-extracond u-push-btm-half">Variants</h3>
        </div>
        <div class="g g-12 g-6@sm">
          <p class="u-ff-faustina u-push-btm-none">
            Today, Saira is presented as a suite of 9 weight styles (Thin, Extralight, Light, Regular, Medium, Semibold, Bold, Extrabold, Black) and 4 different widths (Normal, Semicondensed, Condensed and Extracondensed). The result is a versatile super-family of 36 styles in total, with 780 characters each.
          </p>
        </div>
      </div>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="saira-chessboard u-padd-top-half u-padd-top-threeQuarter@md u-border-top-1 u-border-top-saira u-border-top-solid">
        {% for item in saira.chessboard %}
          <span class="{{ item.class }} u-tt-uppercase u-push-btm-half u-fill-saira saira-chessboard__item">a</span>
        {% endfor %}
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6@sm g-push-6@sm">
          <p class="u-ff-faustina u-push-btm-none">
            Saira shares features of the geometric and neo-grotesque typographic classifications. As for geometric traits, we can mention the underlying rectangular shape, as can be seen on typefaces such as Eurostile (Aldo Novarese), DIN (Albert-Jan Pool) and Exo (Natanael Gama). Concerning neo-grotesque fonts, Saira’s simplified and open letterforms relate to Frutiger (Adrian Frutiger).
          </p>
          <p class="u-ff-faustina u-push-btm-none u-ti">
            Some characters offer stylistic alternates for each style (for example the A, G, R, 6 and 9).
          </p>
        </div>
      </div>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="u-padd-top-half u-padd-top-quarter@sm u-border-top-1 u-border-top-saira u-border-top-solid">
        <p class="saira-headline u-push-btm-none u-d-none u-d-blk@md u-fill-saira">
          <span class="u-d-ibl u-ff-saira-extracond u-fw-100">A</span><span class="u-d-ibl u-ff-saira-extracond u-fw-100 u-ot-salt">A</span><span class="u-d-ibl u-ff-saira-cond u-fw-300">G</span><span class="u-d-ibl u-ff-saira-cond u-fw-300 u-ot-salt">G</span><span class="u-d-ibl u-ff-saira-semicond u-fw-500">R</span><span class="u-d-ibl u-ff-saira-semicond u-fw-500 u-ot-salt">R</span><span class="u-d-ibl u-ff-saira u-fw-700">6</span><span class="u-d-ibl u-ff-saira u-fw-700 u-ot-salt">6</span><span class="u-d-ibl u-ff-saira u-fw-900">9</span><span class="u-d-ibl u-ff-saira u-fw-900 u-ot-salt">9</span>
        </p>
        <div class="saira-stylistic u-d-none@md u-pull-top-half u-pull-top-none@sm">
          <svg class="i i-saira-stylistic u-fill-saira">
            <use xlink:href="images/sprite.svg#saira-stylistic"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6@sm g-push-6@sm">
          <p class="u-ff-faustina u-push-btm-none">
            As the styles compress and become heavier, some characters (for example the Q, Ø, ø, ¢, $ and ¥) require a deeper study of the stroke performance as it traverses the letter’s counter in order to decide on which cases a simplified structure is needed.
          </p>
        </div>
      </div>
    </div>

    <div class="l-container l-container--lg u-padd-btm-half u-push-btm@sm">
      <div class="u-padd-top-quarter u-border-top-1 u-border-top-saira u-border-top-solid">
        <p class="saira-headline u-push-btm-none u-fill-saira">
          <span class="u-d-ibl u-ff-saira-extracond u-fw-100">$</span><span class="u-d-ibl u-ff-saira-extracond u-fw-100 u-ot-salt">$</span><span class="u-d-ibl u-ff-saira-cond u-fw-300">$</span><span class="u-d-ibl u-ff-saira-cond u-fw-300 u-ot-salt">$</span><span class="u-d-ibl u-ff-saira-semicond u-fw-500">$</span><span class="u-d-ibl u-ff-saira-semicond u-fw-500 u-ot-salt">$</span><span class="u-d-ibl u-ff-saira u-fw-700">$</span><span class="u-d-ibl u-ff-saira u-fw-700 u-ot-salt">$</span><span class="u-d-ibl u-ff-saira u-fw-900">$</span><span class="u-d-ibl u-ff-saira u-fw-900 u-ot-salt">$</span>
        </p>
      </div>
    </div>

    <div class="l-container u-push-btm-double">
      <div class="g-row">
        <div class="g g-6@sm g-push-6@sm">
          <p class="u-ff-faustina u-push-btm-none">
            Saira’s alternates are gathered in stylistic options that can be activated using the OpenType feature of design software.
          </p>
          <p class="u-ff-faustina u-push-btm-none u-ti">
            Saira was designed as a super-family ideal for use on headlines and short text snippets, and this is the purpose of the flattened curves that allow the composition of compacted words. As for now, the creation of italics isn’t on the agenda, but this is not discarded for the future. The simple and open shapes of this family can be associated with activities such as science, industry, engineering and automotive machinery. Its design conveys the values of modernity, velocity and simplicity.
          </p>
        </div>
      </div>
    </div>

    <!-- Process -->

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6@sm">
          <h3 class="u-ff-saira-extracond u-push-btm-half">Process</h3>
        </div>
        <div class="g g-6@sm">
          <p class="u-ff-faustina u-push-btm-none">
            On its initial phase, Saira had 7 weights and contemplated the design of 5 expansion styles. As the project moved forward Héctor Gatti realized the font worked very well on headlines, so he figured that the expansion set was only going to need 4 styles: Normal, Semicondensed, Condensed and Extracondensed.
          </p>
        </div>
      </div>
    </div>

    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="u-padd-top-half u-border-top-1 u-border-top-saira u-border-top-solid u-push-btm-half">
        {% for style in saira.styles %}
          <p class="saira-headline {{ style.class }} u-push-btm-quarter u-push-btm-half@sm u-fill-saira">{{ style.text }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="l-container u-push-btm u-push-btm-double@sm">
      <div class="g-row">
        <div class="g g-6@sm g-push-6@sm">
          <p class="u-ff-faustina u-push-btm-none">
            For the development of the full family Gatti simultaneously drew the 3 extreme weight styles in two width ranges (these were the 6 primary files: Thin, Regular, Black, Extracondensed Thin, Extracondensed, Extracondensed Black).
          </p>
        </div>
      </div>
    </div>
  
    <div class="l-container l-container--lg u-push-btm@sm">
      <div class="u-padd-top-half u-border-top-1 u-border-top-saira u-border-top-solid u-push-btm-quarter">
        <div class="g-row">
          {% for width in saira.widths %}
            <div class="g g-12 g-6@sm g-4@md">
              <p class="u-h3 {{ width.class }} u-push-btm-quarter u-push-btm-half@md u-fill-saira">{{ width.text }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="l-container u-push-btm-double">
      <div class="g-row">
        <div class="g g-6@sm g-push-6@sm">
          <p class="u-ff-faustina u-push-btm-none">
            The Omnibus-Type team completed the character set for each master, programmed the interpolation of intermediate weights, revised and adjusted the preliminary results and produced the final version.
          </p>
          <p class="u-ff-faustina u-push-btm-none u-ti">
            When producing a typeface with so many styles, it becomes essential to organize its components very well, so the resulting suite is simple to use. Postproduction included testing and adjustments to make the naming of the styles and its arrangement on the dropdown menu work as needed.
          </p>
          <p class="u-ff-faustina u-push-btm-none u-ti">
            This typeface was envisioned, planned and developed entirely to work on digital displays. For this reason, there are no hand drawn sketches.
          </p>
        </div>
      </div>
    </div>

    <!-- Applications -->

    <div class="l-container u-push-btm-double">
      <div class="g-row">
        <div class="g g-12 g-6@sm">
          <h3 class="u-ff-saira-extracond u-push-btm-half">Applications</h3>
        </div>
        <div class="g g-12 g-6@sm">
          <p class="u-ff-faustina">
            Saira was designed for editorial use (mainly magazines and newspapers, digital or print). However, it works well on other scenarios too, for instance advertising, corporate design, packaging and signage projects. Saira can be matched perfectly with other families of this same collection for editorial use, such as Faustina or Manuale. Moreover, the geometry and simplicity of Saira could be nicely combined with the sensitive and humane stroke of Delius.
          </p>
        </div>
      </div>
    </div>

    <!-- Origins -->

    <div class="l-container u-push-btm-double">
      <div class="g-row">
        <div class="g g-12 g-6@sm">
          <h3 class="u-ff-saira-extracond u-push-btm-half">Origins</h3>
        </div>
        <div class="g g-12 g-6@sm">
          <p class="u-ff-faustina u-push-btm-none">
            Héctor Gatti got his inspiration from the square blueprint of Saira, the town where he was born and that gave the typeface its name. This typeface reflects the spirit of the town founders, the 20th century, hardworking and clever blacksmiths that turned into inventors of machinery for working the fields.
          </p>
          <p class="u-ff-faustina u-push-btm-none u-ti">
            Saira is a combination of the creative and the industrial, the sensitive and the efficient. It displays great aesthetic sensibility that combines a geometric tendency with open shapes, flat curves and some whimsical details.
          </p>
        </div>
      </div>
    </div>

    {% set parameters = {'url': '#!', 'family': 'Saira'} %}
    {% include "shared/column-footer.html" %}

  </div>

</section>
